pipeline/emr_src_to_bronze.json
{
	"name": "emr_src_to_bronze",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Emr_Config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DelimitedText_ds",
						"type": "DatasetReference",
						"parameters": {
							"container": "configs",
							"file_name": "emr",
							"file_path": "load_config.csv"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Emr_Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"activities": [
						{
							"name": "FileExists",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DelimitedText_ds",
									"type": "DatasetReference",
									"parameters": {
										"container": "medallion-dev/bronze",
										"file_name": {
											"value": "@item().targetpath",
											"type": "Expression"
										},
										"file_path": {
											"value": "@split(item().table_name,'.')[1]",
											"type": "Expression"
										}
									}
								},
								"fieldList": [],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "FileExists",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"ifTrueActivities": [
									{
										"name": "Archive file",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "ParquetSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "ParquetReadSettings"
												}
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "Parquet_ds",
												"type": "DatasetReference",
												"parameters": {
													"container": "medallion-dev",
													"filepath": {
														"value": "@item().targetpath",
														"type": "Expression"
													},
													"filename": {
														"value": "@split(item().table_name,'.')[1]",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "Parquet_ds",
												"type": "DatasetReference",
												"parameters": {
													"container": "medallion-dev/bronze",
													"filepath": {
														"value": "@concat(item().targetpath,'/archive/',formatDateTime(utcNow(),'yyyy'),'/',formatDateTime(utcNow(),'%m'),'/',formatDateTime(utcNow(),'%d'))",
														"type": "Expression"
													},
													"filename": {
														"value": "@split(item().table_name,'.')[1]",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "If Condition2",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "If Condition1",
									"dependencyConditions": [
										"Skipped"
									]
								}
							],
							"userProperties": []
						}
					]
				}
			}
		],
		"annotations": []
	}
}